<article class="login-app-shell">
  <header class="login-app-shell__status" aria-hidden="true"></header>

  <main class="login-app-shell__screen">
    <ng-content></ng-content>
  </main>

  <div class="login-app-shell__flag" aria-hidden="true">
    <svg class="login-app-shell__flag-blue" viewBox="0 0 375 93" preserveAspectRatio="none">
      <path d="M0 0L101 47.0984L187 70L375 47.0984V93H192.5H0V0Z" />
    </svg>

    <svg class="login-app-shell__flag-red" viewBox="0 0 375 81" preserveAspectRatio="none">
      <path d="M0 0L199.5 33L375 0V81H0V0Z" />
    </svg>
  </div>
</article>
